<!DOCTYPE html>
<html>
<head>
  <title>Reporte</title>
  <meta charset="utf-8">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha de Creación</th>
        <th>Fecha Ultimo Movimiento</th>
        <th>Estado</th>
        <th>Cliente</th>
      </tr>
    </thead>

    <tbody>
      <% @service_orders.each do |service_order| %>
        
      
      <tr>
        <td><%= service_order.id %></td>
        <td><%= service_order.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= service_order.updated_at.strftime('%d-%m-%Y') %></td>
        <td><%= service_order.state.state %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>