.sidebar{"data-color" => "red", "data-background-color" => "white" }
  .sidebar-wrapper
    .logo
      %a.simple-text{:href => root_path}
        Localhost
    %ul.nav
      %li{ class: "#{'active' if params[:controller] == 'customers' }" }
        %a{:href => customers_path}
          %i.ti-user
          %p Clientes
      %li{ class: "#{'active' if params[:controller] == 'service_orders'}" }
        %a{:href => service_orders_path}
          %i.ti-view-list-alt
          %p Ordenes Servicio
